# ------------------------------------------------------------------------------
# Dependencies

/node_modules

# ------------------------------------------------------------------------------
# Environment

.env

# ------------------------------------------------------------------------------
# Logs

*.log